html {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(174, 251, 142);
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("background.png");
}

.exhibitsP {
  color: rgb(51, 215, 176);
}

.goBack {
  color:rgb(234, 249, 138);
}

a:hover {
  color: rgb(251, 85, 129);
}

.animalsP {
  color: rgb(207, 99, 187);
}

li {
  float: right;
  display: inline;
  font-size: 2em;
}

li:hover {
  text-decoration: underline;
}

.animalTitle img{
  height: 80px;
}

.animalPic {
  height: 100px;
}

.splash {
  float: left;
  height: 50px;
  width: auto;
}

.zooPic {
  width: 200px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
